.card {

    // FUNCTIONNALITY
    perspective: 150rem;
    -moz-perspective: 150rem; // a revoir
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
            background-image: linear-gradient(to right bottom, $color-primary-light , $color-primary-dark);
        }
    }

    &:hover &__side--front {
    transform: rotateY(-180deg); // permet de faire la rotation de la carte
    }

    &:hover &__side--back {
    transform: rotateY(0deg);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode:screen; // je ne sais plus
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;


        &--1{
            background-image: url('../img/LITRevu.png');
            background-size: cover;
            background-position: top;
        }

        &--2{
            background-image: url('../img/orange-county-lettings.png');
            background-size: cover;
            background-position: left;
        }

        &--3{
            background-image: url('../img/SoftDesk.png');
            background-size: cover;
            background-position: left;
        }

        &--4{
            background-image: url('../img/GUDLFT.png');
            background-size: 110rem;
            background-position: top;
        }

        &--5{
            background-image: url('../img/epic-events.png');
            background-size: 75rem;
            background-position: top;
        }

        &--6{
            background-image: url('../img/AlgoInvest&Trade.png');
            background-size: 60rem;
            background-position: top;
        }

        &--7{
            background-image: url('../img/chess-club.png');
            background-size: 55rem;
            background-position: top;
        }

        &--8{
            background-image: url('../img/JustStreamIt.png');
            background-size: 60rem;
            background-position: top;
        }

        &--9{
            background-image: url('../img/books-online.png');
            background-size: 55rem;
            background-position: top;
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color:$color-white;

        position: absolute;
        top: 0rem;
        width: 100%;
    }

   &__details {
        padding: 3rem;

        &--back {
            margin-bottom: 3rem;
            color: white; 

            ul {
                list-style: none;
                width: 80%;
                margin: 0 auto;
    
                 li {
                    text-align: center;
                    font-size: 1.5rem;
                    padding: 1rem;
    
                    &:not(:last-child) { // cela permet de mettre un border à tout le monde sauf au dernier
                        border-bottom: 1px solid $color-grey-light-2;
                    }
                }
            }
        }

        p {
            font-size: 1.5rem;;
        }
   }

   // FRONT SIDE STYLING
   &__cta {
        position:absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);

        @include respond(phone) {
            height: 40rem;
        }
   }

   @include respond(tab-port) {   
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;


            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
        transform: rotateY(0);
        }

        &__details {
            padding: 0 3rem;
        }

    // FRONT SIDE STYLING
    &__cta {
            position:relative;
            text-align: center;
            top: 0;
            left: 0;
            width: 100%;
            transform: translate(0);
            padding: 7rem 4rem 4rem 4rem;
    }
   }
   
}

